# Java / Maven
target/
*.class

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDE
.idea/

# Windows
desktop.ini

# GitHub recovery codes / secretos
*recovery-codes*
Analisis-y-Desarrollo-de-Software/2-OLIVER MEDINA/1-COMPETENCIAS LABORALES/5-SOCIODRAMA#1.mp4
Analisis-y-Desarrollo-de-Software/9-TATIANA SUAREZ/PROYECTO DE FISICA INTEGRANTES FAYBER ESTYBEN DIAZ SONIA ALEXANDRA SOLORZANO LUIGER DALIETH LEDEZMA ASPRILLA CARLOS RICO SANABRIA.mp4
